<h1>Welcome to my homepage</h1>

<p>This is my homepage for my first page made exclusively using Ruby on Rails and HTML</p>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About page', about_path %>